@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-section {
  background-image: url("https://www.shutterstock.com/image-photo/data-anlytics-ai-database-management-600nw-2489189257.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  color: #fff;
}

.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* darker overlay for better text visibility */
  z-index: -1;
}
